# Visual Studio Code options directory
.vscode/

# - Windows
*.sln
builds/
bin/
*.exe
*.obj
*.pdb
*.res
desktop.ini
Thumbs.db

ols.json

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc